h1 {
  color: white;
  font-family: Bilbo;
  font-size: 60px;
  margin: 1.5rem;
  padding: .5rem;
}

h2 {
  color: white;
  font-family: Bilbo;
  font-size: 45px;
  text-align: center;
  }
h3 {
  color: white;
  font-family: Bilbo;
  margin: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 35px;
}

body {
  background-color: #1e2141;
}

nav a {
  color: white;
  font-family: Caudex;
  margin: .7rem;
  padding: .6rem;
  }

p {
  color: white;
  font-family: Caudex;
  margin: 5rem;
  line-height: 1.5;
  }
img {
  display: block;
  margin: 0 auto;
  transform: scale(1);
}

h4 {
  color: white;
  font-family: Bilbo;
  font-size: 35px;
  text-align: center;
}

button {
    background: #004980;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    margin: 0;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: background 0.3s ease;
}


button:hover {
  background: #0091ff;
}

.dark-mode {
  background: #222;
  color: white;
}

.dark-mode p {
  color: white;
}


.hannah {
  display: block;
  max-width: 30%;
  margin: 0 auto;
  
  .pink img {
    display: block;
  margin: 0 auto;
    transform: scale(.4);
    
  }

  .blue img {
    display: block;
  margin: 0 auto;
    max-width: 40%;
  }

   @media (min-width: 768px) {
    body {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.8rem;
        margin: 3rem auto;
        max-width: 70ch;
    }

    .art {
        max-width: 12%;
    }
}

  .footer {
    color: white;
    font-family: Bilbo;
    text-align: center;
  }
  
    
  
